In [ ]:
#we learnt many types of data sets like list and tuple which represent individual object in a single entity.
#we\hen we want to represent the objects in the pair of key and its value thats called the dictionary set..
l=[10,20,[30,40]]
print(l[0])
print(l[1])
l2=l[2][0]
l3=l[2][1]
print(l[2])
print(l2)
print(l3)

10
20
[30, 40]
30
40
[21, 23]
[23, 324]

In [ ]:
t1=[21,23,[23,324,323]]
print(t1[0:2])
t2=t1[2]
print(t2)
print(t2[:2])

print(t1[2][0:2])

[21, 23]
[23, 324, 323]
[23, 324]
[23, 324]

In [ ]:
t=(10,20,30,(50,60))
print(t[0])
print(t[1])
print(t[2])
print(t[3])
print(t[3][0])
print(t[3][1])

10
20
30
(50, 60)
50
60

In [ ]:
#eg of dictionary roll:name
# phone,number: address
#ipaddress:domain name

In [ ]:

#dublicates key are not allowed but value can be dublicate
#heterogenous objects are allowed for both key and value
#dictionary,list are mutable
#slicing and indexing are not applicable
#immutable are tuple,string

{10, 20, 30} <class 'set'>

In [ ]:
d={}
print(d,type(d))

{} <class 'dict'>

In [ ]:
#syntax : d={key :'value',key2:'value'}
d[10]='prakhar'
d[20]='adarsh'
d[3.0]='ravi'
d["a"]=1000
d[20]='jain'
print(d)

{10: 'prakhar', 20: 'jain', 3.0: 'ravi', 'a': 1000}

In [ ]:
#create a dictionary
#update the dictionary
d={1:"adarsh",2:"prakhar",3:"tiwari"} #d={0:adarsh,1:prakhar},values represent  by the index of d[i]
print("dictionary is ",d)
#dictionary is mutable  the value can be changable
print("we want to check that dict is mutable :")
D=d[2]="prakhar jain"
print("dict is mutable:d[2] ",D,"our new dictionary is: ",d)

dictionary is  {1: 'adarsh', 2: 'prakhar', 3: 'tiwari'}
we want to check that dict is mutable :
dict is mutable:d[2]  prakhar jain our new dictionary is:  {1: 'adarsh', 2: 'prakhar jain', 3: 'tiwari'}

In [ ]:
#key access 
for i in d:
  print(d[i])

ravi
jain
tiwari

In [ ]:
d={10:'prakhar',11:'harshit',12:'qweqw',13:'qwdAaF'}
print('before->',d)
d[11]='harshit12222'
print('after->',d)

before-> {10: 'prakhar', 11: 'harshit', 12: 'qweqw', 13: 'qwdAaF'}
after-> {10: 'prakhar', 11: 'harshit12222', 12: 'qweqw', 13: 'qwdAaF'}

In [ ]:
d=dict()
i=0
d[i]="prakhar"
d[i+1]="adarsh"
d[i+2]="ravi"
print(d,type(d))

{0: 'prakhar', 1: 'adarsh', 2: 'ravi'} <class 'dict'>

In [ ]:
d={0:"prakhar",1:"adarsh",2:"saksham"}
print("our dictionary : ",d)
D=d[0]=d[5] #prakhar="Adarsh"
print(D)

our dictionary :  {0: 'prakhar', 1: 'adarsh', 2: 'saksham', 5: 'ravi'}
ravi

In [ ]:
#function of a dictionary

#del: is used to delete the specific key
#syntax del d[key]
d={100:"adarsh",200:"prakhar",300:"saksham",400:"utkarsh",500:"tarun"}
print(d)
print(d[100])
print(d[200])
print(d[300])
print(d[500])
d[400]="tanishq"
print(d)
del d[400]
print(d)

{100: 'adarsh', 200: 'prakhar', 300: 'saksham', 400: 'utkarsh', 500: 'tarun'}
adarsh
prakhar
saksham
tarun
{100: 'adarsh', 200: 'prakhar', 300: 'saksham', 400: 'tanishq', 500: 'tarun'}
{100: 'adarsh', 200: 'prakhar', 300: 'saksham', 500: 'tarun'}

In [ ]:
#clear():it removes  all the  key:values from the dictionary
d={100:"adarsh",200:"prakhar",300:"saksham",400:"utkarsh",500:"tarun"}
print(d)
D=d.clear(])
print(D)

{100: 'adarsh', 200: 'prakhar', 300: 'saksham', 400: 'utkarsh', 500: 'tarun'}

TypeError: ignored

In [ ]:
d={10:'prakhar',11:'harshit',12:'qweqw',13:'qwdAaF'}
print(d)
del d[11]
print(d)
d.clear()
print(d)
print(d.clear())

{10: 'prakhar', 11: 'harshit', 12: 'qweqw', 13: 'qwdAaF'}
{10: 'prakhar', 12: 'qweqw', 13: 'qwdAaF'}
{}
None

In [ ]:
d={10:'prakhar',11:'harshit',12:'qweqw',13:'qwdAaF'}
print("the dictionary:" ,d)

the dictionary: {10: 'prakhar', 11: 'harshit', 12: 'qweqw', 13: 'qwdAaF'}

In [ ]:
d=dict({100:"adarsh",200:"prakhar"})
print(dict())

{}

In [ ]:
#len():it is used to calculate the length of a dictionary

In [ ]:
d={10:'prakhar',11:'harshit',12:'qweqw',13:'qwdAaF'}
print(len(d),d)

4 {10: 'prakhar', 11: 'harshit', 12: 'qweqw', 13: 'qwdAaF'}

In [ ]:
#clear()

In [ ]:
#get(key):to get the value from the dictionary
d={10:'prakhar',11:'harshit',12:'qweqw',13:'qwdAaF'}
D=d.get(13)
print(D)

qwdAaF

In [ ]:
#pop(it removes the specific key)

d={10:'prakhar',11:'harshit',12:'qweqw',13:'qwdAaF'}
del d[10]
print(d)
D=d.pop(12)
print(D,d)

{11: 'harshit', 12: 'qweqw', 13: 'qwdAaF'}
qweqw {11: 'harshit', 13: 'qwdAaF'}

In [ ]:
#keys():return all specific keys
d={10:'prakhar',11:'harshit',12:'qweqw',13:'qwdAaF'}
D=d.keys()
print(D)

dict_keys([10, 11, 12, 13])

In [ ]:
#values():returns all the specific values....
d={10:'prakhar',11:'harshit',12:'qweqw',13:'qwdAaF'}
D=d.values()
print(d,type(D))
#dict_values it store the values and keys of a dictionary in the format of list.

<class 'dict_values'>