In [ ]:
#function:  a group of statements which is used repeatedly  required which is not rewrite that code everytime seperately.
#we have to write the code at one time and used that code when we want to use it(call it)..
#by the means of function we use the code reusebility.(again and again).
#function are always two type
#Built-in function
#user function defined

In [ ]:
#examples of built in functions
#a=input("enter number")
#print(a)#function
#type() #which type of data is hold by the variable
#id()
#int()
#eval()
#bool()

enter numberadarsh tiwari
adarsh tiwari

In [ ]:
#user defined function: Function is defined by the user for doing a specific work..
#syntax  def function_name(parameter):
           #function _declaration
           #return value
#def (mandataory)
#return (optional)

In [ ]:
#write a program to print the hello world by using UDF.
def hello(): #function definition
  print("hello world") #function declaration
hello() #function calling
#print(type(hello())) #return  type(none type)

hello world
hello world
<class 'NoneType'>

In [ ]:
def world(name):
  print("hello ",name)
world("prakhar")
world("adarsh")
world(12)
world(22.22)

hello  prakhar
hello  adarsh
hello  12
hello  22.22

In [ ]:
#write a function to print the sum of a two no
def sum(a,b):
  print("ssum : ",a+b)
sum(2,3)

ssum :  5

In [ ]:
#write a program to print the square and cube of a no.
def square(a):
  print('Square is->',a*a)
square(4)
def cube(b):
  print('Cube is->',b*b*b)
cube(5)

Square is-> 16
Cube is-> 125

In [ ]:
#write a program to print the even no
def even(n):
  if n%2==0:
    print("this is even")
  else:
    print("this is odd")
even(1)

this is odd

In [ ]:
def evenodd(a):
  if(a%2==0):
    print('Even')
  else:
    print('Odd')
evenodd(11)

Odd

In [ ]:
#factorial 
#5! =5*4*3*2*1
#n=n*(n-1)

In [ ]:
def p(a,b):
  s=a+b
  
  return s
p(2,3)

5

In [ ]:
def factorial(a):
  b=1
  for i in range(a,0,-1):
    b=b*a
    a=a-1
  print('Factorial is',b)
factorial(7)

Factorial is 5040

In [ ]:
#write code with while loop

In [ ]:
#returning mulitiple values:
def calc(a,b):
  sum=a+b
  sub=a-b
  mul=a*b
  div=a/b
  return sum,sub,mul,div
calc(2,3)

(5, -1, 6, 0.6666666666666666)

In [ ]:
x,y=10,20
print(y,x)

20 10

In [ ]:
#returning mulitiple values:
def calc(a,b):
  sum=a+b
  sub=a-b
  mul=a*b
  div=a/b
  print("sum",sum)
  print("subtract",sub)
  print("mul:",mul)
  print("div",div)

calc(2,3)

sum 5
subtract -1
mul: 6
div 0.6666666666666666

In [ ]:
def calculator(x,y):
  sum=x+y
  sub=x-y
  mul=x*y
  div=x/y
  t=sum,sub,mul,div
  print("the result is :")
  for i in t:
    print(i)
  return sum,sub,mul,div
calculator(100,50)

the result is :
150
50
5000
2.0

(150, 50, 5000, 2.0)

In [ ]:
x,y=10,20
print("before swapping: ",x,y)
print("after swapping : ",y,x)

before swapping:  10 20
after swapping :  20 10


def hello(name,id): #formal argument which are declared at the time declare   function  
  print("my name is : ",name)
  print("my id is : ",id)
hello('prakhra',101) #actual  argument are declared at a time of calling function

In [ ]:
def emp(id,name,add,salary,age):
  t=id,name,add,salary,age
  for i in t:
    print(i)
emp(10,'prakhar','jaipur',20000,18)

10
prakhar
jaipur
20000
18

In [ ]:
#Type of argument:
#1:positional agruement: error occuring due to position .
#2:keyword arguement : 
#1example
def sub(a,b):
  print(a-b)
sub(100,200)
sub(200,100)

#example 2 #keyword agruement  are used for assigning the value to the argument at the time of calling function. 
def prakhar(name,msg):
  print("hello :",name,"message :",msg)
prakhar("adarsh","hello india")
prakhar(name="prakhar",msg="hello  my world i love python")

#default arguement :the values we defined to the postional arguements
def add(a=10,b=20,c=100):
  print("a: ",a,"b:",b,"c: ",c)
add(100,200,1000)
add()




#def prakhar(a,b):
#  print("a:",a,"b :",b)
#prakhar(1,2)

IndentationError: ignored

In [ ]:
#variable length arguement :we can used it sometimes for our function 
#declare with def n1(*n):

#variable t=(sum,sub,mul,div) no of arguement 
#t=(sum,sub,mul,div)
def sum(*n):
  total=0
  for i in n:
    total=total+i
    print(i)
  print("the sum is :",total)
sum()
sum(10,20)
sum(0,1,2,3,4,5,6,7,8,9,10)

the sum is : 0
10
20
the sum is : 30
0
1
2
3
4
5
6
7
8
9
10
the sum is : 55

In [ ]:
def mul(*n):
  mult=1
  for i in n:
    mult=mult*i
  print('The multiplication is',mult)
mul(2,4,5)

The multiplication is 40

In [ ]:
#variable of a function global or local variable
#1: global : The variable declared outside the function declaration

a=10 #the thing or variable avaible to every function 
def pr1():
  print(a)
def ad1():
  print(a)
pr1()
ad1()

10
10

In [ ]:
#2:local variable :the variable that  is declared inside a function is called a local variable.
#local variable are available only for the function in which it is declared .(outside the function we cannot access them) 
def pr():
  a=10 #local variable
  print(a) 

def p1():
  print(b) #invalid

pr()
p1()

10
10
10

In [ ]:
#Recursive function:the function thats call iteself thats is termed as recursive function.
#reduce the code readability
#5!=5*4*3*2*1 (n-1)
#6:6*5*4*3*2*1
#0!=1
#factorial of a number
#n=n*f(n-1)
#5=5*4
#5
def fact(n):
  if n==0:
    result=1
  else:
    result=n*fact(n-1) #recursive 
  return result
print("the factorial of a given no is :",fact(6))

the factorial of a given no is : 720

In [ ]:
def fact(a):
  f=1
  for i in range(a):
    f=f*a
    a=a-1
  print(f)
fact(5)

120

In [ ]:
def f(n):
  if n==0:
    res=1
    print("this is factorial of 1 ",res)
  else:
    res=n*f(n-1)
  return res
f(5)

this is factorial of 1  1

120

In [ ]:
#class ,object,refence variable,instance variable,static variable,method variable,self variable,contructor,defence btw function and constructor

SyntaxError: ignored