In [ ]:
#c code
#include<stdio.h>
#void main()
#{
    
#print("hello world")
#}

In [ ]:
print("hello world :)")

hello world :)

In [ ]:
print("hello")
print("world")

hello
world

In [ ]:
#indentifier
cash=10
cas3h=10
print(cash)
print(cas3h)

10
10

In [ ]:
#upper case and lower case
A=10
a=9
print(a)
Print(a)

9

NameError: ignored

In [ ]:
1a=10
print(1a)

10

In [ ]:
_a=10
print(_a)

10

In [ ]:
#datatypes: data types are the type of data present inside a variable.
#integer datatype
a=10
print("integer: ",a)
print(type(a))
b=10.2
print("float:", b)
print(type(b))
sr="prakhar jain"
print("string : ",sr)
print(type(sr))
c=True
print("boolean :",c)
print(type(c))
d=2+5j
print(d)
print(type(d))
x=[10,20,2.22,"prakhar",True]#list
print(x)
print(type(x))
y=(10,20)#touple
print("touple :" ,y)
print(type(y))
dic={'p':10}#dict={"key":value}
print(dic)
print(type(dic))
z=[10,20,30]
m=bytes(z)
print(m)
print(type(m))

integer:  10
<class 'int'>
float: 10.2
<class 'float'>
string :  prakhar jain
<class 'str'>
boolean : True
<class 'bool'>
(2+5j)
<class 'complex'>
[10, 20, 2.22, 'prakhar', True]
<class 'list'>
touple : (10, 20)
<class 'tuple'>
{'p': 10}
<class 'dict'>
b'\n\x14\x1e'
<class 'bytes'>

{'p': 10}