In [ ]:
liye=[11,22.43,9,"help"]
print(li)
print(len(li))
print(li[3])
print(li[3][1])

[11, 22.43, 9, 'help']
4
help
e

In [ ]:
li1=[11,22.4,"hello",True]
print(li1[0])
print(li1[1])
print(li1[2])
print(li1[2])
print(li1[2][:4])
print(li1[2][0])
print(li1[2][1])
print(li1[2][2])
print(li1[2][3])
print(li1[2][4])

11
22.4
hello
hello
hell
h
e
l
l
o

In [ ]:
#append method is used to addthe items inside a list
l=[11,22,"heeloop"]
l2=l.append("krishna")
print(l)
print(type(l2))

[11, 22, 'heeloop', 'krishna']
<class 'NoneType'>

In [ ]:
#extend method
p=[1,33.3,"hello"]
print(p)
q=[2,66.6,"world"]
print(q)
r=[3,99.9,"adarsh"]
print(r)
l=p.extend(q)
print("p is extended with q(p+q)",p)
m=p.extend(r)
print("p is extended with r(p+r)",p)

[1, 33.3, 'hello']
[2, 66.6, 'world']
[3, 99.9, 'adarsh']
p is extended with q(p+q) [1, 33.3, 'hello', 2, 66.6, 'world']
p is extended with r(p+r) [1, 33.3, 'hello', 2, 66.6, 'world', 3, 99.9, 'adarsh']

In [ ]:
#list insert method is use to insert value at the index value
l=[1,22.2,"hello"]
q=l.insert(2,21)#insert(index value,value)
print(l)
print(q)

[1, 22.2, 21, 'hello']
None

In [ ]:
l=[1,22.3,"hello wolrd",5626623]
print(len(l))
print(l)
q=l.remove("hello wolrd")
print(type(q))
print("'hello wolrd' at 2 index is removed from the list ",l)
l[2]="hello world"
print("at index 2 we updated the value fron it and changed to it as hello world",l)
p=l.insert(2,"hello my self")
print(l)
q=l.append(34)
print(l)

4
[1, 22.3, 'hello wolrd', 5626623]
<class 'NoneType'>
'hello wolrd' at 2 index is removed from the list  [1, 22.3, 5626623]
at index 2 we updated the value fron it and changed to it as hello world [1, 22.3, 'hello world']
[1, 22.3, 'hello my self', 'hello world']
[1, 22.3, 'hello my self', 'hello world', 34]

In [ ]:
l=[22,4.5,"hello world",True]
p=l.count(l)
print(l)
print(p)

[22, 4.5, 'hello world', True]
0

In [ ]:
def add(a,b):
  """This print the sum of two string"""
  print(a+b)
print(add.__doc__)
add(6,3)

This print the sum of two string
9

In [ ]:
def addfunc(a,b):
     """This function adds two numbers.This is docstring."""
     print(a+b)

print(addfunc.__doc__)
addfunc(12,13)

This function adds two numbers.This is docstring.
25