In [ ]:
#list:list is a collection of group of indeviduals as single entity,dubicate are allowed .
#collection of heterogeneous objects  are allowed
#syntax list_name= [ 'values',values ]
#list is mutable  i.e is is a change when your want to update
#list is also support both positive and negative indexing
list=[ ] #empty list 
print(type(list),list)

<class 'list'> []

In [ ]:
list0=['prakhar',1000.0,'noida',18,True]
print(list0[0])
print(list0[1])
print(list0[2])
print(list0[3])

prakhar
1000.0
noida
18

In [ ]:
list=[100,'adarsh',10.9,True]
for i in list:
  print(i)

100
adarsh
10.9
True

In [ ]:
lit=[100,200.0,'adarsh']
print(type(lit),lit)

<class 'list'> [100, 200.0, 'adarsh']

In [ ]:
list0=['prakhar',1000.0,'noida',18,True]
print(type(list0),list0)
list1=[1000,23,1678,7388]
print(type(list1),list1)
list2=['pralhar','adarsh','harshit']
print(type(list2),list2)
list3=[10.9,9.0,922.2] 
print(type(list3),list3)
list4=[True,False]
print(type(list4),list4)

In [ ]:
#li=list(range(0,10,2))
#print(li)
#print(type(li))

In [ ]:
l=['','','','']
for i in range(4):
  l[i]=input('Enter value->')
print(l)

Enter value->10
Enter value->20

IndexError: ignored

In [ ]:
ss=input("enter your string")
s=ss.split()
print(s,type(s))
['p','r','a','k','h','a','r']

enter your stringprakhar
['prakhar'] <class 'list'>

In [ ]:
s="prakhar is a good programmer"
ss=s.split()
print(ss,type(ss))

['prakhar', 'is', 'a', 'good', 'programmer'] <class 'list'>

In [ ]:
# we can also access the slicing element of a listby using slicing[begin:end:step]
#perform in a two index positive and negative index
l=[10,20,30]
print(l[0])
print(l[1])
print(l[2])

10
20
30
[10]

In [ ]:
#slicing  syntax 
#list0=list[begin:end:step]
#step value is always be 1
#begin value is 0
#end value
#list=[1,20,30,40,32,22,33,55,66,10,210]
#[20,30,40,32,22,33]
#[1,20,30,40,32,]

In [ ]:
n=[0,1,2,3,4,5,6,7,8,9,10]
#print(len(n))
i=0
while(i<=10):
  print(n[i])
  i=i+1
print("index value is this",i)

0
1
2
3
4
5
6
7
8
9
10
index value is this 11

In [ ]:
l1=[1,200,21,2300,20,30,22,31,21] #l=6
for i in l1: #0-5
  if i%2==0:
    print(i)

200
2300
20
30
22

In [ ]:
#function for the list
#1:len()
#if you have  an integer value in form of string then the value can be modify
l=[10,20,30,40,40,'100']
s=l[5]=70
print(s)
print(l)
n=len(l)
print("the length of a string: ",n)

70
[10, 20, 30, 40, 40, 70]
the length of a string:  6

In [ ]:
#Count():no of occunce of any specific item in a list
n=[10,20,30,30,40]
print(n.count(1))
print(n.count(10))
print(n.count(20))
print(n.count(30))
print(n.count(100))
#bydefault it returns zero

0
1
1
2
0

In [ ]:
#index(): returns the specific  element of a list
#repeted item reads only one t
n=[10,20,20,30,40,50]
print(n.index(10))
print(n.index(20))
print(n.index(30))
print(n.index(40))
print(n.index(50))

0
2
3
4
5

In [ ]:
#append(): it add the element at the end of list.
#insert()
#extend()
#remove()
#pop()
l=[]
l.append('prakhar')
l.append('adarsh')
l.append('ravi')
print(l)
li=['prakhar','adarsh']
li.append("ravi")
li.append("keshav")
li.append("divu")
print(li)

['prakhar', 'adarsh', 'ravi']
['prakhar', 'adarsh', 'ravi', 'keshav', 'divu']

In [ ]:
#wap to insert the items in a list by the append function
li=[]
x=int(input('Enter your list limit .'))
for i in range(x):
  y=input('Enter the string->')
  li.append(y)
print(li)

Enter number of values to insert->5
Enter the string->10
Enter the string->10
Enter the string->20
Enter the string->30
Enter the string->40
['10', '10', '20', '30', '40']

In [ ]:
li=[]
for i in range(11):
  li.append(i)
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
li=[]
for i in range(31):
  if i%2!=0:
    li.append(i)
  
print(li)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
#insert(): to insert an element by the specific position.
#element store at the specific point insertion of a new value
#in positive index value added at right side (1+1=2)
#in negative index value added at left side (-1 +-1)=-2
n=[1,2,3,4,5,6,10]
m=len(n)
print(m)
n.insert(3,44)
print(n)
n.insert(5,54)
print(n)
n.insert(-1,100)
print(n)
m=n.index(100)
print(m)

7
[1, 2, 3, 44, 4, 5, 6, 10]
[1, 2, 3, 44, 4, 54, 5, 6, 10]
[1, 2, 3, 44, 4, 54, 5, 6, 100, 10]
8

In [ ]:
#extend()= to add the items of a list into another list
#we can add the item in a  end list
l1=['prakhar','adarsh','ravi','harshit','raghav']
print(l1)
l2=['jain','tiwari','kashup','dixit','goel']
print(l2)
l3=['j','t','k','d','g']
print(l3)
l2.extend(l3)
l1.extend(l2)
print("both list are extended to the one list",l1)

['prakhar', 'adarsh', 'ravi', 'harshit', 'raghav']
['jain', 'tiwari', 'kashup', 'dixit', 'goel']
['j', 't', 'k', 'd', 'g']
both list are extended to the one list ['prakhar', 'adarsh', 'ravi', 'harshit', 'raghav', 'jain', 'tiwari', 'kashup', 'dixit', 'goel', 'jain', 'tiwari', 'kashup', 'dixit', 'goel', 'j', 't', 'k', 'd', 'g']

In [ ]:
#extend() is also used to add the items in a list with the help of slices
order=['dosa','burgur','pizza']
order.extend('cold-drink')
print(order)
for i in order:
  print(i,end="")

['dosa', 'burgur', 'pizza', 'c', 'o', 'l', 'd', '-', 'd', 'r', 'i', 'n', 'k']
dosaburgurpizzacold-drink

In [ ]:
#remove():it is used to remove the dublicate items or specific items from the list.
n=[10,20,30,40,50]
n.remove(10)
print(n)

[20, 30, 40, 50]

In [ ]:
#pop():it removes the last element from the list
n=[10,20,30,40,50]
print(n.pop())
print(n)

50
[10, 20, 30, 40]

In [ ]:
n=[]
print(n)

[]

In [ ]:
#difeernce between pop(),remove(),append(),extend(),index()