In [ ]:
#operator
#operator is symbols(+,-,*,%) that performs operations
#Arithemetic operators
#(+,-,%,*,**)
#example
a=10
b=2
print("a+b=",a+b)
print("a-b=",a-b)
print("a*b=",a*b)
print("a%b=",a%b)
print("a**b=",a**b)

a+b= 12
a-b= 8
a*b= 20
a%b= 0
a**b= 100

In [ ]:
#('+' ) #+ used for concatenation (adding two strings)
# +  =string concatenation operator
# *  =string multiplication operator
#print("string",variable)
a="prakhar"
print("hello"+a)
print(a*2)

helloprakhar
prakharprakhar

In [ ]:
#relational operators >,<,>=,<=
#raw_input
#typecasting :converting one datatype into another datatype
#return type of the input is string
#relational operators return type always be BOOLEAN VALUE
a=int(input("enter first number"))
b=int(input("enter second number "))
print("a>b=",a>b)
print("a>=b",a>=b)#a>b and a=b
print("a<b",a<b)
print("a<=b",a<=b)#a<b and a=b

enter first number10
enter second number 5
a>b= True
a>=b True
a<b False
a<=b False

In [ ]:
#logical 
#and :- arguement are True result is True
#:- if atleast one arguement will True then result is True
#not :-complement

In [ ]:
#assignment operator
#value assign toe the operator 
a+=10
a-=10
a=1-10
a*=10
a=a*10
a%=10
a=a%10
a=a+10

In [ ]:
#ternary operator or conditional operators
a,b=10,20
#syntax  x=firstvalue(condition true) if condition else  second value(condition false)
x=30  if a<b  else 50
print(x)

30

In [ ]:
#wap to print greatest 3 number
a,b=20,10
gr=a if a<b else b
print(gr)

10

In [ ]:
#equality operators
# '==' ,'!='
a=10
b=1
if(a==b or a!=b):
  print("we win")

we win

In [ ]:
#membership operator: to check given object inside a list,variable
#bag=(math,eng,hindi,sst,science)
#math in bag
x="prakhar is a good boy"
print('Prakhar' in x)
print("bad" not in x)
list=['prakhar','adarsh','amit']
print('amit' in list)
print('prkhra' not in list)

False
True
True
True