In [ ]:
#tuple:tuple is like the list except it is immutable(not changable).once you created the tuple objectcannot be perform any change
#dublicates  are allowed
#heterogenous   object are allowed
#tuple have both positive and negative indexes
#syntax t=(elements)

[1, 2, 3, 4, 5, 6]

In [ ]:
#wap to print the sum and average ofa tuple by the mean of user input

In [ ]:
t=eval(input("enter tuple"))
print(t)

enter tuple111111
111111

In [ ]:
t=(1,2)
print(t,type(t))

(1, 2) <class 'tuple'>

In [ ]:
t=10,20,30
print(t,type(t))

(10, 20, 30) <class 'tuple'>

In [ ]:
t=10
print(t,type(t))

10 <class 'int'>

In [ ]:
t=(10)
print(t,type(t))

(10, 2.3) <class 'tuple'>

In [ ]:
t=(10,)
print(t,type(t))

(10,) <class 'tuple'>

In [ ]:
#which are following are used for tuple
#t=()T
#t=10,20,30 =t
#t=(10,20,30)=t
#t=10=f
#t=10,=t

In [ ]:
t=()
print(t,type(t))

() <class 'tuple'>

In [ ]:
#access tuple by using the index
t=(20,30,40,'prakhar',20)
m=0
for i in t:
  print("index values are ",m,"and tuple value are",i)
  m=m+1

index values are  0 and touple value are 20
index values are  1 and touple value are 30
index values are  2 and touple value are 40
index values are  3 and touple value are prakhar
index values are  4 and touple value are 20

In [ ]:
#converting list into tuple
list=[10,20,30]
t=tuple(list)
print(t,type(t))

(10, 20, 30) <class 'tuple'>

In [ ]:
#wap to print the negative indexes of the tuple
#slicing is also done in tuple
#indexing will be occur in both side +ve and -ve bt in right side and left side
t=(3,5,6,34,234,2,3)
print(t[0])
print(t[1])
print(t[2])
print(t[3])
print(t[4])
print(t[5])
print(t[-1])
print(t[-2])
print(t[-3])
print(t[-4])

3
5
6
34
234
2
3
2
234
34

In [ ]:
#using slicing operator  [start:end:step]
t=(1,20,30,44,55,11,9,10,23)
#output(20,30)
#output(20,30,44,55),output(23),output(1,20,30,44,55,11,9,10,),(20,30,44,55,11,9,10,23),(44,55,11,9,10,),(44,55)

In [ ]:
#mathematical operator : +=concatenation
  #                       *=multiplication
#append():add the last element
#extend():add the two list

t=(1,2,56,7,7,8,3,10)
t1=(2,3,5,6,7,8,8,9,0,10)
t3=t+t1+t
print(t3)

(1, 2, 56, 7, 7, 8, 3, 10, 2, 3, 5, 6, 7, 8, 8, 9, 0, 10, 1, 2, 56, 7, 7, 8, 3, 10)

In [ ]:
#*
t=(1,2,6,7,8,9,10,34)
t=t*2
print(t)

(1, 2, 6, 7, 8, 9, 10, 34, 1, 2, 6, 7, 8, 9, 10, 34)

In [ ]:
#functions using in a tuple:
#len():it returns the length of the tuple
t=(1,2,45,6,78,8,8,9,90,0,10,2,2,3,3,4,4,5,5,5,6,6,6,7,788,89,9,10,20)
t1=len(t)
print(t1)

29

In [ ]:
t=(1,20,30,44,55,11,9,10,23,64,78,4,76)
for i in range(len(t)):
  if(t[i]%2==0):
    print(t[i])

20
30
44
10
64
78
4
76

In [ ]:
#count():counts the no occurence of the elements
t=(10,20,30,40,50,50,10,"hello","wello","fello","pello","yello")
p=t.count(50)
print(p)

2

In [ ]:
#index():returns the particular  value in a tuple
t=(10,20,40,55,76,87,56)
p=t.index(40)
print(p)

True
2

In [ ]:
#sortred():In the arrangement of the ascending order
t=(22,44,52,12,13,41,9,8,33,11,10)
p=sorted(t)
print(p)

[8, 9, 10, 11, 12, 13, 22, 33, 41, 44, 52]

In [ ]:
#do the programs of sorting ,slicing,function,operators,

In [ ]:
t1=()
a=0
t1=eval(input('Enter the values of tuple->'))
for i in range(len(t1)):
  a=a+t1[i]
print('The sum is',a)
print('The average is',a/len(t1))

Enter the values of tuple->10,20,30,40
The sum is 100
The average is 25.0

In [ ]:
t=eval(input("enter your tuple : - "))
s=0
l=len(t)
for i in t:
  s=s+i
print("the sum is: ",s)
print("the avg is: ",s/l)

enter your tuple : - 10,20,30,40
the sum is:  100
the avg is:  25.0

In [ ]:
#tuple packing :
a=10
b=20
c=30
d=40
t=a,b,c,d
print(t,type(t))

(10, 20, 30, 40) <class 'tuple'>

In [ ]:
t=a,b,c=10,20,30
print(t)

(10, 20, 30)

In [ ]:
t=(10,20,30,40)
a,b,c,d=t
print("a=",a,"b=",b,"c=",c,"d=",d,t)

a= 10 b= 20 c= 30 d= 40 (10, 20, 30, 40)

In [ ]:
a=10
b=20
c=30
l=[a,b,c]
print(l)

(10, 20, 30)

In [ ]:
t=(10,20,30,40,50,99)
t[0]=20
print(t)

[200, 20, 30, 40, 50, 99]

In [ ]:
#write a difference between list and tuple